{
  "printWidth": 120,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.wxml",
      "options": {
        "parser": "wxml"
      }
    },
    {
      "files": "*.wxss",
      "options": {
        "parser": "css"
      }
    }
  ],
  "htmlWhitespaceSensitivity": "ignore",
  "tabWidth": 2,
  "plugins": ["./node_modules/@titian-design/prettier-plugin-wxml/lib/index.js"]
}
